<!-- the top layer -->
<div class='upper-layer '>
    <div class="container ">

        <div class="row  direction ">
            <div class="col-md-7  " style="padding-top: 100px;">
                <h3>Jops from </h3>
                <h3 style=" color :	#40b68e;">A-Z</h3><br><br>
                <p class="small-text">
                    If you're looking for random paragraphs, you've come to the right place. When a random word or a
                    random sentence isn't quite enough, the next logical step is to find a random paragraph. We created
                    the Random Paragraph Generator with you in mind. The process is quite simple. Choose the number of
                    random paragraphs you'd like to see and click the button. Your chosen number of paragraphs will
                    instantly appear.
                </p>

            </div>
            <div class="col-md-5 display-center ">
                <img src="../../assets/man.svg" class=" float-right img-fluid  man-image " alt="man">
            </div>
        </div>
    </div>
</div>
<!-- the Middle layer -->

<div class='middle-layer'>
    <div class="container padding-middle">
        <p class="middle-paragraph">
            SupportFinity General hiring guidelines for hiring &lt;job&gt;s
        </p>
        <button type="button" class=" my-button btn btn-primary">Hiring Guidelines</button>
    </div>
</div>
<!-- the bottom  layer -->
<div class='upper-layer '>
    <div class="container">

        <div class="row direction  ">
            <div class="col-md-6 padding-top">
                <h5  style="font-weight: bold;" >What we care about at SupportFinity</h5>
                 <br>
                <p class="small-text">
                    If you're looking for random paragraphs, you've come to the right place. When a random word or a
                    random sentence isn't quite enough, the next logical step is to find a random paragraph. We created
                    the Random Paragraph Generator with you in mind. The process is quite simple. Choose the number of
                    random paragraphs you'd like to see and click the button. Your chosen number of paragraphs will
                    instantly appear.
                </p>

            </div>
            <div class="col-md-6  display-center ">
                <img src="../../assets/mountain.svg" class=" float-right  mountin-image img-fluid " alt="mountain">
            </div>
        </div>
    </div>
</div>